* {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  padding: 80px 0 100px;
  background-color: #2B3137;
  color: #FFFFFF;
}
a.btn-lg{
  padding: 15px 30px;
  border-color: #ffffff;
}
a.btn-lg:link, a.btn-lg:visited{
  background-color: transparent;
  color: #ffffff;
}
a.btn-lg:hover, a.btn-lg:active{
  background-color: #ffffff;
  color: #2B3137;
}





/*!* jumbotron----------------------------------------------- *!*/
/*section.jumbotron{*/
  /*margin: 0;*/
  /*padding: 80px 0 100px;*/
  /*background-color: #2B3137;*/
  /*color: #ffffff;*/
/*}*/
/*section.jumbotron h1.title{*/
  /*font-size: 63px;*/
/*}*/
/*section.jumbotron p.title{*/
  /*font-size: 30px;*/
/*}*/
/*@media(max-width: 992px){*/
  /*section.jumbotron p.title{*/
    /*font-size: 24px;*/
  /*}*/
/*}*/
/*@media(max-width: 768px){*/
  /*section.jumbotron{*/
    /*margin: 0;*/
    /*padding: 50px 0 130px;*/
    /*background-color: #2B3137;*/
    /*color: #ffffff;*/
  /*}*/
  /*section.jumbotron h1.title{*/
    /*font-size: 50px;*/
  /*}*/
  /*section.jumbotron p.title{*/
    /*font-size: 20px;*/
  /*}*/
/*}*/
/*section.jumbotron a.btn-lg{*/
  /*padding: 15px 30px;*/
  /*border-color: #ffffff;*/
/*}*/
/*section.jumbotron a.btn-lg:link, section.jumbotron a.btn-lg:visited{*/
  /*background-color: transparent;*/
  /*color: #ffffff;*/
/*}*/
/*section.jumbotron a.btn-lg:hover, section.jumbotron a.btn-lg:active{*/
  /*background-color: #ffffff;*/
  /*color: #2B3137;*/
/*}*/
/*!* -----------------------------------------------jumbotron *!*/



/* section----------------------------------------------- */
section{
  margin: 0;
  padding: 80px 0;
}
/* -----------------------------------------------section */



